<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Stonekeep</title>
</head>

<body>

    <div id='navbar'>
        <span class="my-spacer"></span>

        <div id='navbarLogo'>
            <img src='static/Branding.png' style="width:10.833vw">
        </div>
        <div id='home'>
            <a href="#navbar">Home</a>
        </div>
        <div id='features'>
            <a href="#smallFeatures">Features</a>

        </div>
        <div id='products'>
            <a href="#productPlans">Products</a>

        </div>
        <div id='ourmission'>
            <a href="#ourMission">Our Mission</a>

        </div>
        <div id='blog'>
            <a>Blog</a>

        </div>
        <div id='faq'>
            <a id='#FAQMini'>FAQ</a>

        </div>

        <div id='dashboard-button'>
            <a class='dashboard-button-ar' href="https://whop.com/">Dashboard</a>
        </div>
        <span class="my-spacer"></span>


    </div>
    <div id='promoCode'>
        <a style="font-size: 1.302vw;width: 100%;height:100%;display:flex;align-items: center;justify-content: center;"
            class="CBlack" href="https://whop.com/stonekeep/">
            JOIN FREE BETA NOW!
        </a>
    </div>
    <div id='home-section'>
        <div id='left-section'>
            <div id='left-section-text'>
                <h1 style="font-size: 5.833vw;margin-bottom: 1%;" class='CBold'>Stonekeep</h1>
                <div style="width:100%;display: flex;flex-direction: row;justify-content: left;align-items: center;">
                    <img src="static/Rectangle 10.png" style="width:9vw;height: auto;">
                    <h3 style="width:93vw; margin-bottom: 3%;margin-top:3%;font-size: 2.5vw;text-align: right;color:#50C9C3"
                        class="CBold">
                        Trading
                        Systems</h3>
                </div>
                <p class="CMedium" style="font-size: 1.5625rem">Innovators in quantitative machine learning for advanced
                    trading.</p>
            </div>
            <div id='left-section-button'>
                <a class='topSectionButtons' style='flex: 1 auto' href="mailto:support@stonekeeptrading.com">Contact</a>
                <span class="my-spacer-button"></span>

                <a class='topSectionButtons' style='flex: 1 auto'>View Docs</a>
            </div>
            <div class="topPurchContainer">
                <a href="#productPlans" class='topSectionButtonsPurchase'>Purchase</a>
            </div>

        </div>
        <div id='right-section'>
            <img src="static/RightDisplay.png" style="width:100%;">
        </div>
    </div>
    <div id='supportingMarketsContainer'>
        <div id='supportingMarkets'>
            <h3 style="margin: 1%;margin-bottom: 4%; font-size: 2vw; width: 100%; text-align: left;">Supporting all
                financial markets</h3>
            <div id="supportingMarketsImages">
                <img src="/static/crypto.png" style="width: 23%;margin:1%">
                <img src="/static/stocks and options.png" style="width: 23%;margin:1%">
                <img src="/static/forex.png" style="width: 23%;margin:1%">
                <img src="/static/indicies.png" style="width: 23%;margin:1%">
            </div>
        </div>
    </div>
    <div id='smallFeatures'>
        <div id='smallFeaturesInnerContainer'>
            <div id='smallFeaturesMini'>
                <img src="static/customizable.png" style="width: 100%;height: auto;">
                <h4 style="font-size: 1.042vw" class="CMedium">Unbelievably <span
                        style="color:#50C9C3">Customizable</span>
                </h4>
                <img src="static/Rectangle 150.png" style="width: 100%;">
                <p class="CMedium" style="font-size: 1.042vw;color: #707995;">All of our advanced algorithims are
                    designed with the
                    user in mind. Versatility is
                    one of our main
                    goals enabling users to trade how they want.</p>
            </div>
            <div id='smallFeaturesMini'>
                <img src="static/smart.png" style="width:100%;height: auto;">
                <h4 style="font-size: 1.042vw;" class="CMedium">Unbelievably <span
                        style="color:#50C9C3">Customizable</span>
                </h4>
                <img src="static/Rectangle 150.png" style="width: 100%;">

                <p class="CMedium" style="font-size: 1.042vw;color: #707995;">All of our advanced algorithims are
                    designed with the
                    user in mind. Versatility is
                    one of our main
                    goals enabling users to trade how they want.</p>
            </div>
            <div id='smallFeaturesMini'>
                <img src="static/access.png" style="width:100%;height: auto;">
                <h4 style="font-size: 1.042vw" class="CMedium">Unbelievably <span
                        style="color:#50C9C3">Customizable</span>
                </h4>
                <img src="static/Rectangle 150.png" style="width: 100%;">

                <p class='CMedium' style="font-size: 1.042vw; color: #707995;">All of our advanced algorithims are
                    designed with the
                    user in mind. Versatility is
                    one of our main
                    goals enabling users to trade how they want.</p>
            </div>
        </div>
    </div>
    <div id='featuresSection'>
        <div id='featuresSectionMini'>
            <div id='featuresImage'>
                <div id='featuresImageMini'>
                    <img src="static/Buy and Sell.png" style="width:90%;height: auto;">
                </div>
            </div>

            <div id='featuresTextSection'>
                <div id='featuresTextSectionMini'>
                    <p style="margin:2%;margin-top: 2%;color:#50C9C3;margin-left:0;font-size: 1.4375rem;"
                        class='CMedium'>FEATURE</p>
                    <h3 style="font-size: 2.5rem; margin: 2%;margin-left:0" class="CBold">Buy and Sell Signals</h3>
                    <img src="static/Rectangle 101.png">
                    <p style="font-size: 1.875rem; margin: 3%;color:#707995;margin-left:0" class="CMedium">Having
                        difficulty
                        organizing your
                        entries? Our
                        innovative
                        algorithm provide you with the
                        ability
                        to observe real-time buy and sell signals that are reliable and not subject to repainting.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div id='featuresSection'>
        <div id='featuresSectionMini'>
            <div id='featuresTextSection'>
                <div id='featuresTextSectionMini'>
                    <p style="margin:2%;margin-top: 2%;color:#50C9C3;margin-left:0;font-size: 1.4375rem;"
                        class="CMedium">FEATURE</p>
                    <h3 style="font-size: 2.5rem; margin: 2%;margin-left:0" class="CBold">Real-Time Market Predictions
                    </h3>
                    <img src="static/Rectangle 101.png">

                    <p style="font-size: 1.875rem; margin: 3%;color:#707995;margin-left:0" class="CMedium">Our algorithm
                        delivers live
                        buy and sell
                        signals,
                        guiding your
                        trading decisions. By making
                        informed predictions about price movements, our algorithm enhances your market insights.</p>
                </div>
            </div>

            <div id='featuresImage'>
                <div id='featuresImageMini' style="justify-content: right; display: flex;">
                    <img src="static/predictions.png" style="width: 85%;height: auto;">
                </div>
            </div>
        </div>
    </div>
    <div id='featuresSection'>
        <div id='featuresSectionMini'>
            <div id='featuresImage'>
                <div id='featuresImageMini'>
                    <img src="static/Trend Analysis.png" style="width:90%;height: auto;">
                </div>
            </div>
            <div id='featuresTextSection'>
                <div id='featuresTextSectionMini'>
                    <p style="margin:2%;margin-top: 2%;color:#50C9C3;margin-left:0;font-size: 1.4375rem;"
                        class="CMedium">FEATURE</p>
                    <h3 style="font-size: 2.5rem; margin: 2%;margin-left:0" class="CBold">Price Action Analysis</h3>
                    <img src="static/Rectangle 101.png">

                    <p style="font-size: 1.875rem; margin: 3%;color:#707995;margin-left:0" class="CMedium">Struggling to
                        figure out
                        which way price
                        is trending
                        in choppy
                        markets? Our incredibly
                        advanced statistical modeling is able to accurately determine which way price is predicted
                        to go!</p>
                </div>
            </div>
        </div>
    </div>
    <div id='productPlans'>
        <div id='productPlansText'>
            <h2 style="font-size: 2.5rem;">Unique Product Plans</h2>
            <p style="color: #707995;">With our customizable product plans, we can cater to your specific needs!</p>
        </div>
        <div id='productPlansMini'>
            <div class='productPlanBoxesBig'>
                <div class='productPlanBoxes'>
                    <div class='productPlanBoxesPrice'>
                        <div class='planPricing'>
                            <p
                                style="font-size: 3.125rem; width: fit-content;color:#50C9C3;margin: auto;margin-left: 0;margin-right: 1%;">
                                $50</p>
                            <p
                                style="font-size: 1rem;width: fit-content;height: 40px; text-align: center; display: flex;align-items: center;color: #707995;">
                                /month</p>
                        </div>
                        <div class='planTitle'>
                            <p style='font-size: 1.5625rem;margin: auto;margin-left: 0;'>Monthly</p>
                        </div>
                        <div class='planImage'>
                            <img style="width:100%" src="static/Rectangle 149.png">
                        </div>

                    </div>
                    <div class='planDescription'>
                        <p style="margin:0">Unlock our <span style="color:#50C9C3">advanced</span> premium algorithms
                            with our
                            convenient monthly plan. Gain access to
                            cutting-edge machine-learning models, providing you with accurate buy and sell signals
                            to
                            <span style="color:#50C9C3">optimize</span> your trading strategy.
                        </p>
                    </div>
                    <div class='checkButton'>
                        <div class='checkMark'>
                            <img style='width:15%;height: auto;margin-right: 4%;' src='static/Group 16.png'>
                            <p>Dynamic Buy & Sell Alerts</p>
                        </div>
                        <div class='checkMark'>
                            <img style='width:15%;height: auto;margin-right: 4%;' src='static/Group 16.png'>
                            <p>Live Market Predictions</p>
                        </div>
                    </div>
                    <div class='planPurchaseButton'>
                        <a class='planPurchaseButtonC' href="https://whop.com/stonekeep/?pass=prod_hbdmsckSIb9Mz"
                            style="width:100%">Purchase</a>
                    </div>
                </div>
            </div>
            <div class='productPlanBoxesBig'>
                <div class='productPlanBoxes'>
                    <div class='productPlanBoxesPrice'>
                        <div class='planPricing'>
                            <p
                                style="font-size: 3.125rem; width: fit-content;color:#50C9C3;margin: auto;margin-left: 0;margin-right: 1%;">
                                $175</p>
                            <p
                                style="font-size: 1rem;width: fit-content;height: 40px; text-align: center; display: flex;align-items: center;color: #707995;">
                                /quarter</p>
                        </div>
                        <div class='planTitle'>
                            <p style='font-size: 1.5625rem;margin: auto;margin-left: 0;'>Quarterly</p>
                        </div>
                        <div class='planImage'>
                            <img style="width:100%" src="static/Rectangle 149.png">
                        </div>

                    </div>
                    <div class='planDescription'>
                        <p style="margin:0">Gain access to our <span style="color:#50C9C3">advanced </span>premium
                            algorithms and optimize your trading
                            strategy with our <span style="color:#50C9C3">convenient</span> quarterly plan.
                        </p>
                    </div>
                    <div class='checkButton'>
                        <div class='checkMark'>
                            <img style='width:15%;height: auto;margin-right: 4%;' src='static/Group 16.png'>
                            <p>Dynamic Buy & Sell Alerts</p>
                        </div>
                        <div class='checkMark'>
                            <img style='width:15%;height: auto;margin-right: 4%;' src='static/Group 16.png'>
                            <p>Live Market Predictions</p>
                        </div>
                    </div>
                    <div class='planPurchaseButton'>
                        <a class='planPurchaseButtonC' href="https://whop.com/stonekeep/?pass=prod_hbdmsckSIb9Mz"
                            style="width:100%">Purchase</a>
                    </div>
                </div>
            </div>
            <div class='productPlanBoxesBig'>
                <div class='productPlanBoxes'>
                    <div class='productPlanBoxesPrice'>
                        <div class='planPricing'>
                            <p
                                style="font-size: 3.125rem; width: fit-content;color:#50C9C3;margin: auto;margin-left: 0;margin-right: 1%;">
                                $500</p>
                            <p
                                style="font-size: 1rem;width: fit-content;height: 40px; text-align: center; display: flex;align-items: center;color: #707995;">
                                /year</p>
                        </div>
                        <div class='planTitle'>
                            <p style='font-size: 1.5625rem;margin: auto;margin-left: 0;'>Anually</p>
                        </div>
                        <div class='planImage'>
                            <img style="width:100%" src="static/Rectangle 149.png">
                        </div>

                    </div>
                    <div class='planDescription'>
                        <p style="margin:0">Commit to a full year of access to our <span
                                style="color:#50C9C3">industry-grade</span> algorithms and enjoy
                            significant savings. Immerse yourself in our comprehensive tools for an extended period,
                            empowering you to become a more proficient and <span style="color:#50C9C3">profitable</span>
                            trader.
                        </p>
                    </div>
                    <div class='checkButton'>
                        <div class='checkMark'>
                            <img style='width:15%;height: auto;margin-right: 4%;' src='static/Group 16.png'>
                            <p>Dynamic Buy & Sell Alerts</p>
                        </div>
                        <div class='checkMark'>
                            <img style='width:15%;height: auto;margin-right: 4%;' src='static/Group 16.png'>
                            <p>Live Market Predictions</p>
                        </div>
                    </div>
                    <div class='planPurchaseButton'>
                        <a class='planPurchaseButtonC' href="https://whop.com/stonekeep/?pass=prod_hbdmsckSIb9Mz"
                            style="width:100%">Purchase</a>
                    </div>
                </div>
            </div>
            <div class='productPlanBoxesBig'>
                <div class='productPlanBoxes'>
                    <div class='productPlanBoxesPrice'>
                        <div class='planPricing'>
                            <p
                                style="font-size: 3.125rem; width: fit-content;color:#50C9C3;margin: auto;margin-left: 0;margin-right: 1%;">
                                Free</p>

                        </div>
                        <div class='planTitle'>
                            <p style='font-size: 1.5625rem;margin: auto;margin-left: 0;'>Free Indicators</p>
                        </div>
                        <div class='planImage'>
                            <img style="width:100%" src="static/Rectangle 149.png">
                        </div>

                    </div>
                    <div class='planDescription'>
                        <p style="margin:0">Unlock a <span style="color:#50C9C3">comprehensive</span> collection of our
                            top-notch free indicators. Enhance
                            your trading insights and make informed decisions with this valuable resource. Get it for
                            <span style="color:#50C9C3">free</span>, no strings attached.
                        </p>
                    </div>
                    <div class='checkButton'>
                        <div class='checkMark'>
                            <img style='width:15%;height: auto;margin-right: 4%;' src='static/Group 16.png'>
                            <p>Dynamic Buy & Sell Alerts</p>
                        </div>
                        <div class='checkMark'>
                            <img style='width:15%;height: auto;margin-right: 4%;' src='static/Group 16.png'>
                            <p>Live Market Predictions</p>
                        </div>
                    </div>
                    <div class='planPurchaseButton'>
                        <a class='planPurchaseButtonC' href="https://whop.com/stonekeep/?pass=prod_hbdmsckSIb9Mz"
                            style="width:100%">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='ourMission'>
        <div id='ourMissionMini'>
            <div id='ourMissionTitle'>
                <img src="static/3-Friends.png" style="margin-right: 2%;width:2.292vw">
                <h3 style="margin-top: 2%;font-size: 1.563vw;font-family: CMedium;">Our <span
                        style="color:#50C9C3">Mission</span></h3>
            </div>
            <div id='ourMissionPara'>
                <img src="static/Rectangle 150-2.png" style="margin-bottom:1%; width: 100%;">
                <p style="color:#707995;font-size: 1.302vw; font-family: CMedium;">With our extensive experience as
                    traders spanning over 5
                    years, we have
                    <span style="color:#A6AFCB">dedicated</span> countless hours
                    to honing our skills through manual strategy development, rigorous backtesting, emotional
                    management, and tackling the myriad of challenges that traders encounter. Recognizing the need
                    for a computer-based solution, we <span style="color:#A6AFCB">embarked</span> on a quest to <span
                        style="color:#A6AFCB">overcome</span> these obstacles. After
                    investing <span style="color:#A6AFCB">thousands</span> of additional hours into crafting and
                    formulating an intricate feedforward
                    <span style="color:#A6AFCB">neural-network</span>, our goal has always remained to deliver this
                    technology to retail traders
                    everywhere, despite similar software only being found in the hands of hedge funds and investment
                    firms. While we acknowledge that our solution is not the end all be all, by removing much of the
                    human error which occurs while trading, we aspire to assist you on your journey towards becoming
                    a more consistent and <span style="color:#A6AFCB">profitable</span> trader. Let our indicators and
                    algorithms serve as guiding
                    lights, leading you towards the right steps.
                </p>
            </div>
        </div>
    </div>
    <div class='FAQ'>
        <div class="FAQMini">
            <div class="faq-container-container">
                <section class="faq-container">
                    <h2 style="font-size: 2.7rem;">FAQ</h2>
                    <div class="faq-one">
                        <!-- faq question -->
                        <h1 class="faq-page">What is Stonekeep Trading?</h1>
                        <!-- faq answer -->
                        <div class="faq-body">
                            <p>Stonekeep Trading is a collection of industry-grade algorithms to assist your
                                trading.</p>
                        </div>
                    </div>
                    <hr class="hr-line">
                    <div class="faq-two">
                        <!-- faq question -->
                        <h1 class="faq-page">What comes with my license?</h1>
                        <!-- faq answer -->
                        <div class="faq-body">
                            <p>You will receive full access to Stonekeep Trading Systems. We are constantly working on
                                new features, meaning you will always get the newest release!</p>
                        </div>
                    </div>
                    <hr class="hr-line">
                    <div class="faq-three">
                        <!-- faq question -->
                        <h1 class="faq-page">What if I need help?</h1>
                        <!-- faq answer -->
                        <div class="faq-body">
                            <p>If you need assistance, please don't hesitate to reach out to our customer support team.
                                We're here to help!</p>
                        </div>
                    </div>
                </section>
            </div>
            <div class='FAQImage'>
                <img src='static/FAQ_Image.png' style="height: 50vw;">
            </div>
        </div>
    </div>
    <script src="static/script.js"></script>
    <div id='mailingList'>
        <div id='mailingListMini'>
            <div id='signup'>
                <div id='signupLeft'>
                    <h4>Get Started With Stonekeep Trading Systems</h4>
                </div>
                <div id='signupRight'>
                    <p>Join mailing list!</p>
                    <div id='joinArea'>
                        <input type="text" id="fname" name="mailing">
                        <a href="/" id='subscribeButton'>Subscribe</a>
                    </div>

                </div>



            </div>
        </div>
    </div>
    <!---
        <div id = 'productPlans'>
            <div id = 'productPlansMini'>
                <div id = 'productPlansText'>
                    <h3>Unique Product Plans</h3>
                    <p>With our customizable product plans, we can cater to your specific needs!</p>
                </div>
                <div id ='productPlansPlans'>
                    <div class = 'productPlansPlansInfo'>
                        <h4>$50</h4>
                        <h6>/month</h6>
                        <h4>Monthly</h4>
                        <p>Unlock our advanced premium algorithms with our convenient monthly plan. Gain access to cutting-edge machine-learning models, providing you with accurate buy and sell signals to optimize your trading strategy.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    -->
    <footer>
        <div id='footerMini'>
            <div class='footerSections'>
                <img style="width:50%" src="static/Branding-Footer.png">
            </div>
            <div class='footerSections' style="margin-left: 8%;">
                <a style="width: 100%;"
                    href="https://app.termly.io/document/terms-of-service/825b97ba-21cf-444c-831c-7e0db4ef95e1">Terms of
                    Service</a>
                <a style="width: 100%;"
                    href="https://app.termly.io/document/privacy-policy/ba682a72-8d6f-4525-b6ef-dd2af9b711bd">Privacy
                    Policy</a>
                <a style="width: 100%;"
                    href="https://app.termly.io/document/refund-policy/affcde1f-ed94-44c9-858f-d339de410b35">Refund
                    Policy</a>
                <a style="width: 100%;"
                    href="https://app.termly.io/document/disclaimer/444a4eeb-b734-47ac-a971-bfe74a356be7">Disclaimer</a>
            </div>
            <div class='footerSections'>
                <a style="width: 100%;">Dashboard</a>
                <a style="width: 100%;">Documentation</a>
                <a style="width: 100%;">Affiliate Program</a>
                <a style="width: 100%;">Blog</a>
            </div>
            <div class='footerSections'>
                <p>Join our mailing list</p>
            </div>

        </div>
        <div id='footerDisc'>
            <p>Trading and investing carries an inherent risk and many traders lose money. Stonekeep Trading
                System’s website and the products and services offered are for informational and educational
                purposes only. All content is considered hypothetical in order to demonstrate our product and is not
                to be considered or applied as financial advice. Any decisions made by visitors, users, and
                customers to buy, sell, hold, or trade in securities, commodities, crypto, or any other investments
                involve financial risk and are best made based on the advice of certified, licensed professionals.
                Your financial performance trading and/or the financial performance of other investors in the past
                does not guarantee future results.</p>
            <p>Any performance results you see on this website are to be considered simulated and hypothetical, and
                unlike an actual performance record, they do not represent real trading and do not guarantee
                results. These hypothetical results may under-or-over compensate and do not take into consideration
                market factors, such as lack of liquidity or current market catalysts. No representation or
                guarantee is being made that any trader using this service is likely to or will achieve profit
                similar to those shown or discussed.</p>
            <p> All testimonials and reviews appearing on this website are not to be considered a guarantee or a
                representation of potential future results. We do not have access to our customers trading accounts
                and therefore have no reason to believe they perform better or worse than the rest of the traders in
                the market.</p>
        </div>
    </footer>
    <div id='footerBottom'>
        <div id='footerLinks'>
            <div id="footerLogos">
                <a href="https://discord.com/invite/XhfpUUGAMa"><img class='footerImgMod'
                        src="static/Discord (logo).png"></a>
                <a href="https://twitter.com/stonekeep_"><img class='footerImgMod' src="static/Union.png"></a>
                <a href="https://www.youtube.com/@stonekeeptrading"><img class='footerImgMod'
                        src="static/YouTube (logo).png"></a>
                <a href="https://www.instagram.com/stonekeeptrading/"><img class='footerImgMod'
                        src="static/Instagram (logo).png"></a>
                <a href="https://www.tiktok.com/@stonekeeptrading"><img class='footerImgMod'
                        src="static/TikTok (logo).png"></a>
                <a href="https://www.facebook.com/profile.php?id=100094518030881"><img class='footerImgMod'
                        src="static/Facebook (logo).png"></a>
            </div>
            <div id='footerCopyright'>
                <p>© 2023 Stonekeep Trading Systems LLC. All rights reserved</p>
            </div>
            <div id='footerSpacer'>

            </div>
        </div>
    </div>
</body>

</html>